---
import Language from "../components/ui/Language.astro";


---

<div class="flex flex-col gap-2 mt-4">
    <Language
        language="Python"
        intermediate={true}
    />
    <Language
        language="JavaScript"
        intermediate={true}
    />
    <Language
        language="HTML"
        advance={true}
    />
    <Language
        language="CSS"
        intermediate={true}
    />
</div>