---
import Skill from "../components/ui/Skill.astro";
---

<p class="text-white my-5">Skills</p>
<div class="flex justify-around">
    <Skill level="Intermedio" technology="NextJs" percentage="66"/>
    <Skill level="Intermedio" technology="Django" percentage="66"/>
    <Skill level="Básico" technology="Astro" percentage="33"/>
</div>